* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-container .swiper-wrapper .swiper-slide .view {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.swiper-container .swiper-wrapper .swiper-slide .view.special {
  background-image: linear-gradient(60deg, #f8ddd1, #faece5 73%, #fad2c0);
}
.swiper-container .swiper-wrapper .swiper-slide .view.special .moom {
  position: absolute;
  width: 283px;
  height: 283px;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  background: url("http//s5.music.126.net/static_public/5c21db8d4684556c72180904/sun.a3f575ae2fef2cfdae15011e6081a094.png");
  background-size: 100%;
}
.swiper-container .swiper-wrapper .swiper-slide .view.special .art {
  transform: scale(0.5);
  transform-origin: top right;
  position: absolute;
  width: 750px;
  height: 1334px;
  right: 0;
  top: -140px;
}
.swiper-container .swiper-wrapper .swiper-slide .view.special .art .swing {
  position: absolute;
  left: 226px;
  top: -180px;
  width: 478px;
  height: 1038px;
  background: url("http://s5.music.126.net/static_public/5c21db8d4684556c72180904/swing.88545d6c8e1ac798465e367f8e5357ab.png");
  animation: ani_qiuqian 6s ease-in-out infinite;
  transform-origin: -16% -29%;
}
.swiper-container .swiper-wrapper .swiper-slide .view.special .art .swing .leg2 {
  display: block;
  position: absolute;
  left: 185px;
  top: 958px;
  width: 130px;
  height: 32px;
  background-image: url("http://s5.music.126.net/static_public/5c21db8d4684556c72180904/leg2.d7bc44a91b6974450f2ccc430846c63d.png");
  animation: ani_leg2 8s ease infinite;
  transform-origin: 91% 33%;
}
.swiper-container .swiper-wrapper .swiper-slide .view.special .art .swing .leg2 .jiojio {
  display: block;
  position: absolute;
  background: url("http://s5.music.126.net/static_public/5c21db8d4684556c72180904/leg2-part.8f70bb7fc789a70bc78c48aa7718a765.png") no-repeat;
  left: -27.75px;
  top: -10.5px;
  width: 57px;
  height: 44px;
}
.swiper-container .swiper-wrapper .swiper-slide .view.special .art .swing .leg1 {
  display: block;
  position: absolute;
  left: 290.375px;
  top: 955.25px;
  width: 63px;
  height: 130px;
  background-image: url("http://s5.music.126.net/static_public/5c21db8d4684556c72180904/leg1.b1df6a7d1a794d36fbd0e1277733e1cf.png");
  transform-origin: 17.8571428571429% 13.3653846153846%;
  animation: ani_leg1 8s ease infinite;
}
.swiper-container .swiper-wrapper .swiper-slide .view.special .art .swing .leg1 .jiojio {
  display: block;
  position: absolute;
  background: url("http://s5.music.126.net/static_public/5c21db8d4684556c72180904/leg1-part.f2f17703a6af8fd2af5e0f5a9f320623.png") no-repeat;
  left: 30px;
  top: 108px;
  width: 57px;
  height: 44px;
}
.swiper-container .swiper-wrapper .swiper-slide .view.special .paras {
  position: absolute;
  left: 10%;
  bottom: 160px;
  line-height: 1.6667;
  letter-spacing: 1px;
}
.swiper-container .swiper-wrapper .swiper-slide .view.special .paras .f-aniLineUp {
  opacity: 0;
  transform: translateY(6px);
}
.swiper-container .swiper-wrapper .swiper-slide-active .view.special .paras .f-aniLineUp {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1.2s, transform 1s;
}
.swiper-container .swiper-wrapper .swiper-slide .view .juan {
  position: absolute;
  right: 0;
  top: 0;
  width: 483px;
  height: 159px;
  transform: scale(0.5);
  transform-origin: top right;
  background: url("http://s5.music.126.net/static_public/5c21db8d4684556c72180904/juan3.1c58874dbcd7f233bf027e9332ea6d96.png") no-repeat;
}
.swiper-container .swiper-wrapper .swiper-slide .view .z-juanAni {
  animation: juanAnimation 6s steps(1) reverse, juanAnimation 6s steps(1) forwards;
}
@-moz-keyframes ani_qiuqian {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0);
  }
}
@-webkit-keyframes ani_qiuqian {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0);
  }
}
@-o-keyframes ani_qiuqian {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes ani_qiuqian {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0);
  }
}
@-moz-keyframes ani_leg2 {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-86deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(-86deg);
  }
  100% {
    transform: rotate(0);
  }
}
@-webkit-keyframes ani_leg2 {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-86deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(-86deg);
  }
  100% {
    transform: rotate(0);
  }
}
@-o-keyframes ani_leg2 {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-86deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(-86deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes ani_leg2 {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-86deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(-86deg);
  }
  100% {
    transform: rotate(0);
  }
}
@-moz-keyframes ani_leg1 {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(108deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(108deg);
  }
  100% {
    transform: rotate(0);
  }
}
@-webkit-keyframes ani_leg1 {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(108deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(108deg);
  }
  100% {
    transform: rotate(0);
  }
}
@-o-keyframes ani_leg1 {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(108deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(108deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes ani_leg1 {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(108deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(108deg);
  }
  100% {
    transform: rotate(0);
  }
}
@-moz-keyframes juanAnimation {
  0% {
    background-position: 0 0;
  }
  5% {
    background-position: 0 0;
  }
}
@-webkit-keyframes juanAnimation {
  0% {
    background-position: 0 0;
  }
  5% {
    background-position: 0 0;
  }
}
@-o-keyframes juanAnimation {
  0% {
    background-position: 0 0;
  }
  5% {
    background-position: 0 0;
  }
}
@keyframes juanAnimation {
  0% {
    background-position: 0 0;
  }
  5% {
    background-position: 0 0;
  }
}
